*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "inter" , sans-serif;
}
/*
:root{
    --main_color:#ff8716; 
    --p_color:#7b7b7b;
    --bg_color:#F3F3F3;
    --white_color:#fff;
    --color_heading:#121416;
    --border_color:#e5e5e5d5;
    --sale_color:#E51A1A;

}
/
body{
    background: #F3F3F3;
    margin-top: 180px;
}


span{
    color: var(--main_color);
}
p{
    color: var(--p_color);
}
*/

/*header*/
/*
.log{
    width: 90%;
    margin: auto ;
    max-width: 1350px;
}
*/
body{
    padding: 100px 20px;
}

.log{
    text-decoration: none;
    color: #121416;
    font-weight: 800;
    font-size: 2,8em;
}
.container{
    width: 90%;
    margin: auto;
    max-width: 1350px;
    margin-right: 500px;
    font-size: 2em;

}
@media (max-width: 1350px){
      .container{
    width:90%;
}
}
input,select,button{
    border: none;
    outline: none;
}
header{
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
}
header .top_header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

header .top_header .container .search_box{
    width: 610px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background: #fff;
    margin-right: 100px;
}
header .top_header .container .search_box input{
    height: 55px;
    width: 440px;
    padding: 5px 15px 5px 10px;
    background: #F3F3F3;
   

}

header .top_header  .search_box .selact-box{
    position: relative;
}
header .top_header  .search_box .selact-box::after{
    content: "";
    position: absolute;
    top:0;
    right:50%;
    transform: translateY(-50%);
    width:1px;
    height: 50px;
    background:#F3F3F3 ;
}
header .top_header  .search_box .selact{
    height: 55px;
    width: 190px;
  
    background: #F3F3F3;
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    margin-right: 10px;
}

header .top_header  .search_box .selact option{
    font-size: 15px;
}

header .top_header  .search_box  button{
    height: 55px;
    width: 60px;
    background: #F3F3F3;
    font-size: 18px;
    color: pointer;
}
header .top_header  .search_box  button i{
    color: #F3F3F3;
}
/*
header .top_header .header-icon{
    display: flex;
    gap: 30px;
}
header .top_header .header-icon .icon{
    position: relative;
    cursor: pointer;
}

header .top_header .header-icon .icon i{
    font-size: 24px;
}
header .top_header .header-icon .icon .count{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: var(--main_color);
    color: var(--white_color);
}
/*
.cart{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid var(--border_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}
.cart .top-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart .top-cart  .close-cart i{
    font-size: 35px;
    cursor: pointer;

}
.cart .top-cart  h3{
    font-size: 18px;
}
.cart .top-cart h3 span{
    font-size: 14px;
    color: var(--parg-color);
    font-weight: normal;
}
.cart .items-in-cart{
    padding: 20px;
    border-block: 1px solid var(--border_color);
    margin-block: 20px;
    height: 100%;

}
.cart .bottom-cart .total{
    display: contents;
    justify-content: space-between;
    margin-bottom: 30px;

}
.cart .bottom-cart .total .price-cart-total{
    color: var(--main_color);
}
.cart .button-cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart .button-cart .btn-cart{
    border: 2px solid var(--main_color);
    border-radius: 5px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--main_color);
    transition: 0.3s ease;
}
.cart .button-cart .btn-cart:hover{
    background: transparent;
}
.cart .button-cart .trans-bg:hover{
    background: var(--main_color);
}
*/
.section{
    padding: 100px 200px;
    background-color: #000;
    
}
/*
.min{
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)), url(img/hg2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
  */

.cont{
    background-color: #000;
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
   background: url(img/hg1.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-left: 60px;
    border-radius: 100px;
    display: block;
    margin-right: -400px;
    

    
    
}


.mint h2{
    font-size: 3em;
    font-weight: 500;
    color: #000;
    padding-right: 10px;
}
.mint h3{
    color:  #000;
    font-size: 2em;
     font-weight: 500;
     letter-spacing: 2px;
     margin-top: 80px;
     
     }

.min_butn{
    color: #fff;
    background-color: #121416;
    text-decoration: none;
    font-size:1,1em ;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius:15px;
    margin-bottom: 10px;
    transition: 0.7s ease;
}
.min-butn:hover{
    background-color: sienna;
    transform: scale(1.1);
}


/*  */

.compus{
    padding: 100px 200px;
    background-color: #000;

}

.content{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

.project-card{
    background-color: #fff;
    border-radius: 1px solid #000;
    min-height: 7em;
    width: 10em;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px;
    transform: 0.7 ease;
    width: 100%;
    
    

}

.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-imge{
    opacity: 0.9;
}

.project-imge img{
    width: 100%;
    height: 15em;
}

.project-info{
    padding: 1px;
    margin-left: 30px;
}

/*/*     */
.price{
    font-size: 1rem;
    color: darkred;
    padding-top: 1rem;
    font-weight: 300;

}
.price span{
    font-size: .5rem;
    color: red;
    text-decoration: line-through;
}
.btn{
    background-color: rgb(235, 235, 231);
    color: rgb(19, 17, 17);
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 300px;
    text-decoration: none;
    transform: 0.7s ease;
    display: block;
    height: 1em;
    padding-left: 10px;
    
}
.btn:hover{
    transform: scale(1.1);

}
.save{
    padding: 100px 200px;
    background-color: #000;
}
.inf-saf{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-saf h2{
    padding: 100px 100px;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
}

.shocr{
    padding: 100px 200px;
    background-color: #000;
}
.inf-shocr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-shocr h2{
    padding: 100px 100px;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
}
.dagd{
    padding: 100px 200px;
    background-color: #000;
}
.inf-dagdt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-dagdt h2{
    padding: 100px 100px;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
}
.hgama{
    padding: 100px 200px;
    background-color: #000;
}
.inf-hgama{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-hgama h2{
    padding: 100px 100px;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
}
.mom-baby{
    padding: 100px 200px;
    background-color: #000;
}
.inf-mom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-mom h2{
    padding: 100px 100px;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
}

.catf-add{
    padding: 100px 200px;
    background-color: #000;
}
.inf-catf{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inf-catf h2{
    padding: 100px 100px;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
}
.mostlsm-taby{
    padding: 100px 200px;
    background-color: #000;
}
.inf-mostlsm{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-mostlsm h2{
    padding: 100px 100px;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
}